@using global::Cuddler.Pages.Shared.Cuddler.CuddlerFormFields
@model CuddlerUpdateTagHelper
@{
    var formFields = Model.FormFields;
}
<div class="eux-CuddlerUpdate">
    <div class="eux-popup-top-html">
        @Html.Raw(Model.Html)
    </div>
    <div>
        <cuddler-form-fields auto-save="@Model.AutoSave"
                             fields="@(formFields)"
                             read-only="@Model.ReadOnly"
                             save-url="@Model.FormAction" />
    </div>
</div>