@using global::Cuddler.Core.Utils
@using global::Cuddler.Helpers
@using global::Cuddler.Pages.Shared.Cuddler.ActionMenu
@model SectionCardTagHelper
@{
    var webId = Model.LoadingId ?? WebIdUtil.GetWebId();
    var webId2 = Model.LoadingId ?? WebIdUtil.GetWebId();

    var classBuilder = CssClassBuilder.CreateInstance();
    if (Model.FullHeight)
    {
        classBuilder.AddClass("h-100");
    }

    if (!Model.Border)
    {
        classBuilder.AddClass("b-0");
    }

    if (Model.Width != ETagWidth.None)
    {
        var width = $"eux-{Model.Width}";
        classBuilder.AddClass(width);
    }

    if (Model.Center)
    {
        classBuilder.AddClass("m-auto");
    }


    var stylesBuilder = CssStyleBuilder.CreateInstance();
    if (!string.IsNullOrEmpty(Model.MinHeight))
    {
        stylesBuilder.AddStyle("min-height", Model.MinHeight);
    }
}
<div class="eux-SectionCard @classBuilder"
     id="@Model.WebId"
     style="@stylesBuilder">
    <div class="card">

        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <div class="border-bottom eux-card-title mb-3 pb-3">
                <div class="d-flex-justify-between">
                    <div class="font-size-14 text-bold">
                        @Model.Title
                    </div>
                    @if (Model.IsToolbar)
                    {
                        <div>
                            @if (Model.ActionMenu != null)
                            {
                                foreach (var item in Model.ActionMenu.MenuLinks)
                                {
                                    @Html.Raw(item)
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div>
                            @if (Model.ActionMenu != null)
                            {
                                <action-menu menu="@Model.ActionMenu" />
                            }
                        </div>
                    }
                </div>
            </div>
        }
        <div class="eux-loader-wrapper"
             id="@(webId)">
            @Html.Raw(Model.Html)
        </div>
        @if (!string.IsNullOrEmpty(Model.Src))
        {
            <div class="eux-loader-background eux-loader-background-flicker"
                 id="@(webId2)">
            </div>
            <script>
            $.get("@(Html.Raw(Model.Src))", function (result) {
                $("#@(webId)").html(result);
                $("#@(webId2)").removeClass("eux-loader-background-flicker");
                $("#@(webId2)").fadeOut("slow", function () { });
            });
        </script>
        }
    </div>
</div>