@using global::Cuddler.Web.Helpers
@model ShortcutButtonTagHelper
<div class="eux-ShortcutButton @($"eux-ShortcutButtonSize-{Model.Size}")">
    <a class="eux-pod"
       href="@Model.Href">
        <span class="eux-circle">
            @if (Model.OverrideIcon && Model.Number > 0)
            {
                <span class="eux-overridenumber">
                    @Model.Number
                </span>
            }
            else
            {
                <i class="@EFontAwesomeIconHelper.ToString(Model.Icon)"></i>
            }
        </span>
        <span class="eux-text">@Model.Text</span>
    </a>
</div>