@using CuddlerDev.Pages.Shared.Cuddler.CuddlerFormFields
@using CuddlerDev.Pages.Shared.Cuddler.CuddlerPopup
@using CuddlerDev.Web.Helpers
@using global::Cuddler.Pages.Shared.Cuddler.CuddlerFormFields
@using global::Cuddler.Pages.Shared.Cuddler.CuddlerPopup
@model CuddlerDev.Pages.Shared.Cuddler.CuddlerPopupUpdate.CuddlerPopupUpdateTagHelper
@{
    var buttonText = Model.ButtonType == EButtonType.Icon
        ? null
        : Model.ButtonText;
}
<div class="eux-CuddlerPopupUpdate">
    <cuddler-popup action-complete="@EActionComplete.Reload"
                   button-icon="@EFontAwesomeIcon.Edit"
                   button-text="@buttonText"
                   button-type="@Model.ButtonType"
                   submit-api-url="@Model.FormAction"
                   submit-button-text="Save"
                   submit-button-type="@EButtonType.Success">
        <div class="eux-popup-top-html">
            @Html.Raw(Model.Html)
        </div>
        <div>
            <cuddler-form-fields fields="@Model.FormFields" />
            @Model.Html
        </div>
    </cuddler-popup>
</div>