@using CuddlerDev.Pages.Shared.Cuddler.CuddlerAutosave
@using CuddlerDev.Pages.Shared.Cuddler.CuddlerFormFields
@using CuddlerDev.Pages.Shared.Cuddler.CuddlerFormFieldsChildren
@using CuddlerDev.Pages.Shared.Cuddler.CuddlerFormFieldsMatrix
@using CuddlerDev.Pages.Shared.Cuddler.CuddlerFormFieldsRow
@using CuddlerDev.Pages.Shared.Cuddler.FormLabel
@using global::Cuddler.Pages.Shared.Cuddler.CuddlerAutosave
@using global::Cuddler.Pages.Shared.Cuddler.CuddlerFormFields
@using global::Cuddler.Pages.Shared.Cuddler.CuddlerFormFieldsMatrix
@using global::Cuddler.Pages.Shared.Cuddler.CuddlerFormFieldsRow
@using global::Cuddler.Pages.Shared.Cuddler.FormLabel

@model CuddlerDev.Pages.Shared.Cuddler.CuddlerFormFieldsChildren.CuddlerFormFieldsChildrenTagHelper
<div class="eux-CuddlerFormFields">
    @if (Model.Fields.Any())
    {
        var children = Model.Fields.ToList();
        if (!children.Any())
        {
            return;
        }

        var rows = children.OrderBy(o => o.Row)
                           .Last()
                           .Row;
        for (var i = 0; i <= rows; i++)
        {
            var i1 = i;
            var cols = children.Where(w => w.Row == i1)
                               .ToList();

            <div class="row">

                @if (cols.Any())
                {
                    var maxCols = cols.OrderBy(o => o.Col)
                                      .Last()
                                      .Col;

                    for (var j = 0; j <= maxCols; j++)
                    {
                        var colInputs = children.Where(w => w.Row == i && w.Col == j)
                                                .OrderBy(o => o.Col)
                                                .ToList();

                        if (colInputs.Any())
                        {

                            var colClass = "col";

                            var length = colInputs.Where(w => w.ColLength != null)
                                                  .Select(s => s.ColLength)
                                                  .Max();

                            if (length != null)
                            {
                                colClass = $"{colClass} col-{length}";
                            }

                            <div class="@colClass">
                                @foreach (var property in colInputs)
                                {
                                    <div class="eux-CuddlerFormFields-question">
                                        @if (property.Children != null)
                                        {
                                            <div class="eux-questiongroup @($"eux-{property.Field}")">
                                                @if (!string.IsNullOrEmpty(property.Tag) || !string.IsNullOrEmpty(property.MoreInfo))
                                                {
                                                    <div class="align-items-center d-flex-justify-between">
                                                        <div>
                                                            @if (!string.IsNullOrEmpty(property.Tag))
                                                            {
                                                                <badge badge-type="Info"
                                                                       font-size="OneX"
                                                                       read-only="@Model.ReadOnly">
                                                                    @property.Tag
                                                                </badge>
                                                            }
                                                        </div>
                                                        <div>
                                                            @if (!string.IsNullOrEmpty(property.MoreInfo))
                                                            {
                                                                @Html.Raw(property.MoreInfo)
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                @if (!property.HideLabel || !string.IsNullOrEmpty(property.Description))
                                                {
                                                    <div class="mb-2">
                                                        @if (!property.HideLabel)
                                                        {
                                                            <form-label description="@property.Description"
                                                                        for-property="@property.WebId"
                                                                        required="@property.Required"
                                                                        text="@property.Label" />
                                                        }
                                                    </div>
                                                }
                                                @if (property.Field == nameof(CuddlerFormFieldsConstants.Matrix))
                                                {
                                                    <cuddler-form-fields-matrix auto-save="@Model.AutoSave"
                                                                                fields="@property.Children"
                                                                                read-only="@Model.ReadOnly"
                                                                                save-url="@Model.SaveUrl" />
                                                }
                                                else
                                                {
                                                    <div class="d-grid">
                                                        <cuddler-form-fields-children auto-save="@Model.AutoSave"
                                                                                      fields="@property.Children"
                                                                                      is-template="@Model.IsTemplate"
                                                                                      read-only="@Model.ReadOnly"
                                                                                      save-url="@Model.SaveUrl" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            property.IsTemplate = Model.IsTemplate;

                                            @if (Model.AutoSave)
                                            {
                                                <cuddler-autosave read-only="@Model.ReadOnly"
                                                          save-url="@(Model.SaveUrl!)">
                                                    <cuddler-form-fields-row form-field="@property"
                                                                             read-only="@Model.ReadOnly" />
                                                </cuddler-autosave>
                                            }
                                            else
                                            {
                                                <cuddler-form-fields-row form-field="@property"
                                                                         read-only="@Model.ReadOnly" />
                                            }
                                        }
                                    </div>
                                }
                            </div>

                        }
                    }
                }

            </div>
        }
    }
    else
    {
        @Model.Html
    }
</div>