@using global::Cuddler.Utils
@model CuddlerAccordionsTagHelper
@{
    var accordionPanelId = WebIdUtil.GetWebId();
}
<div class="eux-CuddlerAccordions">
    <div class="accordion"
         id="@accordionPanelId">
        @foreach (var tab in Model.TabList)
        {
            var panelsStayOpen = WebIdUtil.GetWebId();
            <div class="accordion-item">
                <h2 class="accordion-header"
                    id="@tab.Id">
                    <button aria-controls="@panelsStayOpen"
                            aria-expanded="false"
                            class="accordion-button collapsed"
                            data-bs-target="#@panelsStayOpen"
                            data-bs-toggle="collapse"
                            type="button">
                        @Html.Raw(tab.Text)
                    </button>
                </h2>
                <div aria-labelledby="@tab.Id"
                     class="accordion-collapse collapse"
                     id="@panelsStayOpen">
                    <div class="accordion-body">
                        @Html.Raw(tab.Value)
                    </div>
                </div>
            </div>
        }
    </div>
</div>