@using global::Cuddler.Helpers
@model BadgeTagHelper
@{
    var badgeClass = EBadgeTypeHelper.ToCss(Model.BadgeType);
    var fontSize = EFontSizeHelper.ToFontSize(Model.FontSize);
}
<div class="eux-Badge">
    @if (!string.IsNullOrEmpty(Model.Href))
    {
        <a class="@badgeClass @fontSize"
           href="@(Model.Href)">
            @Model.Html
        </a>
    }
    else
    {
        <span class="@badgeClass @fontSize">@Model.Html</span>
    }
</div>